form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 350px;
    height: 420px;
    background:rgb(0,0,0,0.5);
    border-radius: 15px;
    box-sizing: border-box;
    text-align: center;
}

input[type='text'],[type='text'] {
    position: relative;
    outline: none;
    border: none;
    width: 250px;
    height: 60px;
    border-bottom: 2px solid rgb(147, 191, 218);
    background: none;
    color: white;
    padding: none;
}

input[type='text'] {
    top: 30px;
}

::placeholder {
    color: white;   
}

input[value="ADD"] {
    position:absolute;
    top: 305px;
    left: 110px;
    width: 130px;
    height: 35px;
    background: rgb(147, 191, 218);
    border:none;
    outline:none;
    color:#fff;
    border-radius:15px;
    font-size:20px;
    font-family: sans-serif;
}

input[value="ADD"]:hover {
    background: #fff;
    color: black ;
}