{% extends 'base.html' %}

{% block title %}CandleApp | Requests{% endblock %}  

{% block custom_css %} 
    <link rel="stylesheet" href="{{ url_for('static', filename='requests.css') }}"/>
{% endblock %}

{% block body %}

    <nav>
        <a href="{{ url_for('ui_books') }}">Books</a>
        <a href="{{ url_for('ui_logout') }}">Logout</a>
    </nav>


    <form method="POST" action="{{ url_for('ui_add_request') }}">  
        <h1 class= "page-head">New Request</h1>
        <input name="books" type="text" placeholder="Books Requested">
        <input name="user" type="text" placeholder="User ID">
        <input type="submit" value="ADD">
        <a class="link" href="{{ url_for('ui_requests') }}">Show All</a>
      
    </form>

{% endblock %}  