<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% block custom_css %}
        
    {% endblock %}
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body>
    <header>
        <span class="title">System Administration</span>
        <nav>
            <a href="#">Login</a>
            <a href="#">Books</a>
        </nav>
    </header>
    {% block content %}

    {% endblock %}
</body>
</html>