{% extends 'base.html' %}

{% block title %}CandleApp | Login{% endblock %} 

{% block custom_css %} 
  <link rel="stylesheet" href="{{ url_for('static', filename='logins.css') }}"/>
{% endblock %}

{% block body %}

    <form method="POST" action="{{ url_for('validate') }}">
      <h1 class= "page-head">Login</h1>
      <input name="username" type="text" placeholder="Username">
      <input name="password" type="password" placeholder="Password">
      <p>forget password?</p>
      <input type="submit" value="Login">
    </form>

{% endblock %}