{% extends 'base.html' %}

{% block title %}CandleApp | Requests{% endblock %}  

{% block custom_css %} 
    <link rel="stylesheet" href="{{ url_for('static', filename='requests.css') }}"/>
{% endblock %}

{% block body %}

    <nav>
        <a href="{{ url_for('books') }}">Books</a>
        <a href="{{ url_for('logout') }}">Logout</a>
    </nav>


    <form action="{{ url_for('add_request') }}">  
        {% for request in requests %}
            <div class="request">
                <p class="title">{{request.books_requested}}</p><br>
                <p>by ID: {{request.user_id}}</p><br>
                <a href="{{ url_for('change_status', req_id=request.id) }}">Completed</a><br>
                <hr>
            </div>
        {% endfor %}
        <input type="submit" value="ADD NEW REQUEST">
    </form>

{% endblock %}  